global:
  supersetHostname: superset-sr.openg2p.sandbox.net

  esignetHostname: esignet-sr.openg2p.sandbox.net

  keycloakBaseUrl: https://keycloak.openg2p.sandbox.net
  keycloakIssuerUrl: '{{ tpl .Values.global.keycloakBaseUrl $ }}/realms/master'

nameOverride: openg2p-social-registry

superset:
  enabled: true

  oidcIssuerUrl: '{{ tpl .Values.global.keycloakIssuerUrl $ }}'
  oidcClientId: openg2p-sr-superset
  oidcClientSecret: ''

  supersetSecretKey: ''

  init:
    createAdmin: false

  postgresql:
    enabled: false

  redis:
    enabled: false

  supersetNode:
    connections:
      redis_host: '{{ .Release.Name }}-superset-redis-headless'
      db_host: '{{ .Release.Name }}-superset-postgresql'

  bootstrapScript: |
    #!/bin/bash
    pip install authlib==1.3.0

  configOverrides:
    enable_oauth: |
      SECRET_KEY = '{{ tpl .Values.supersetSecretKey $ }}' or 'OPENG2P_SUPER_SECRET_KEY'

      # This will make sure the redirect_uri is properly computed, even with SSL offloading
      ENABLE_PROXY_FIX = True

      from flask_appbuilder.security.manager import AUTH_OAUTH
      AUTH_TYPE = AUTH_OAUTH
      OAUTH_PROVIDERS = [
        {
          "name": "keycloak",
          "icon": "fa-key",
          "token_key": "access_token",
          "remote_app": {
            "client_id": "{{ tpl .Values.oidcClientId $ }}",
            "client_secret": "{{ tpl .Values.oidcClientSecret $ }}",
            "api_base_url": "{{ tpl .Values.oidcIssuerUrl $ }}/protocol/openid-connect",
            "client_kwargs": {"scope": "email profile openid"},
            "access_token_url": "{{ tpl .Values.oidcIssuerUrl $ }}/protocol/openid-connect/token",
            "jwks_uri": "{{ tpl .Values.oidcIssuerUrl $ }}/protocol/openid-connect/certs",
            "authorize_url": "{{ tpl .Values.oidcIssuerUrl $ }}/protocol/openid-connect/auth",
            "request_token_url": None
          },
        }
      ]

      # Map Authlib roles to superset roles
      AUTH_ROLES_MAPPING = {
        "Public": ["Public"],
        "Admin": ["Admin"],
      }

      AUTH_ROLES_SYNC_AT_LOGIN = True

      # Will allow user self registration, allowing to create Flask users from Authorized User
      AUTH_USER_REGISTRATION = True

      # The default user self registration role
      # AUTH_USER_REGISTRATION_ROLE = "Public"

      from superset.security import SupersetSecurityManager
      class CustomSsoSecurityManager(SupersetSecurityManager):
        def oauth_user_info(self, provider, response=None):
          if provider == "keycloak":
            me = self.appbuilder.sm.oauth_remotes[provider].get(
              "openid-connect/userinfo"
            )
            me.raise_for_status()
            data = me.json()
            return {
              "username": data.get("preferred_username", ""),
              "first_name": data.get("given_name", ""),
              "last_name": data.get("family_name", ""),
              "email": data.get("email", ""),
              "role_keys": data.get("client_roles", []),
            }
          return {}

      CUSTOM_SECURITY_MANAGER = CustomSsoSecurityManager

  istio:
    enabled: true
    virtualservice:
      enabled: true
      host: ""
      gateway: "internal"
      destination: '{{ .Release.Name }}-superset'
      destinationPort: "8088"
    gateway:
      enabled: false
      host: ""
      ingressController:
        istio: ingressgateway
      httpTlsRedirect: true
      httpEnabled: true
      httpsEnabled: false
      tls:
        mode: SIMPLE
        credentialName: ""

# TODO: Doing this since postgres and redis charts inside superset are old.
supersetPostgresql:
  nameOverride: superset-postgresql
  auth:
    username: superset
    password: superset
    database: superset
  primary:
    extendedConfiguration: |-
      wal_level = logical
      max_wal_senders = 20
      max_replication_slots = 10
supersetRedis:
  nameOverride: superset-redis
  architecture: standalone
  auth:
    enabled: false
  master:
    persistence:
      enabled: false

esignet:
  enabled: false
  captchaEnabled: false
  envVars:
    esignet_captcha_site_key: ''
    esignet_captcha_secret_key: ''
  mock-identity-system:
    enabled: true
    springConfig:
      names: application,mock-identity-system
      profile: default
      gitRepo:
        enabled: true
        repoUrl: https://github.com/openg2p/mosip-config
        branch: master
      rawConfig: ""
  springConfig:
    names: application,esignet
    profile: default
    gitRepo:
      enabled: true
      repoUrl: https://github.com/openg2p/mosip-config
      branch: master
    rawConfig: ""
